<div id="splitit-container"></div>
<script src="{{ js_url }}"></script>
<script>
    function initializeSplitit() {
        window.Splitit.FlexForm.setup({
            showOnReady: true,
            // hidePicker: true,
            container: 'splitit-container',
            ipn: "{{ ipn }}",
            culture: "{{ consumer_data.CultureName }}",
            numberOfInstallments: 3,
            billingAddress: {
                addressLine: "{{ billing_address.AddressLine }}",
                addressLine2: "{{ billing_address.AddressLine2 }}",
                city: "{{ billing_address.City }}",
                state: "{{ billing_address.State }}",
                country: "{{ billing_address.Country }}",
                zip: "{{ billing_address.Zip }}"
            },
            consumerData: {
                fullName: "{{ consumer_data.FullName }}",
                email: "{{ consumer_data.Email }}",
                phoneNumber: "{{ consumer_data.PhoneNumber }}",
                cultureName: "{{ consumer_data.CultureName }}"
            },
            onSuccess: function(result) {
                // Add data to form
                const form = CommercePayments.getForm(),
                    input = document.createElement("input");

                input.setAttribute("type", "hidden");
                input.setAttribute("name", "splitit_data");
                input.setAttribute("value", JSON.stringify(result));
                form.appendChild(input);

                // Submit after adding the data
                form.submit();
            }

        });
    }

    // Wait until the page has finished loading
    CommercePayments.onReady(initializeSplitit());

    // Listen for submit and hijack the event
    CommercePayments.onSubmit({{ method }}, function (e) {
        const form = CommercePayments.getForm();

        // Make sure Splitit is the selected payment method at time of submit
        if(form.querySelector('#payment-method-{{ method }}').checked) {
            e.preventDefault();
            e.stopPropagation();

            // Activate the hidden Splitit pay button when the main Commerce "Make Payment" button is pressed.
            // document.getElementById('splitit-btn-pay').click();
        }

    });
</script>
