<div id="splitit-container"></div>
<script>
    function initializeSplitit() {
        window.Splitit.FlexForm.setup({
            showOnReady: true,
            // hidePicker: true,
            container: 'splitit-container',
            ipn: "{{ ipn }}",
            culture: "{{ consumer_data.CultureName }}",
            numberOfInstallments: 3,
            billingAddress: {
                addressLine: "{{ billing_address.AddressLine }}",
                addressLine2: "{{ billing_address.AddressLine2 }}",
                city: "{{ billing_address.City }}",
                state: "{{ billing_address.State }}",
                country: "{{ billing_address.Country }}",
                zip: "{{ billing_address.Zip }}"
            },
            consumerData: {
                fullName: "{{ consumer_data.FullName }}",
                email: "{{ consumer_data.Email }}",
                phoneNumber: "{{ consumer_data.PhoneNumber }}",
                cultureName: "{{ consumer_data.CultureName }}"
            },
            onSuccess: function(result) {
                // Add data to form
                const form = CommercePayments.getForm(),
                    input = document.createElement("input");

                input.setAttribute("type", "hidden");
                input.setAttribute("name", "splitit_data");
                input.setAttribute("value", JSON.stringify(result));
                form.appendChild(input);

                // Submit after adding the data
                form.submit();
            }

        });
    }

    function splititEnableSubmitBtn(btn)
    {
        btn.disabled = false;
        btn.style.visibility = 'visible';
    }

    function splititDisableSubmitBtn(btn)
    {
        btn.disabled = true;
        btn.style.visibility = 'hidden';
    }

    // Wait until the page has finished loading
    CommercePayments.onReady(function() {
        const form = CommercePayments.getForm();
        const btn = document.querySelector('button[type=submit].c-primary-button');
        const method = form.querySelector('#payment-method-{{ method }}');
        const radios = form.querySelectorAll('input[type=radio].c-payment-method-radio');
        if (method.checked) {
            // Splitit widget has its own submit button that can't be disabled, so we disable and hide the commerce
            // submit button here if the Splitit method is selected.
            splititDisableSubmitBtn(btn);
        }

        radios.forEach(function(radio) {
            radio.addEventListener('change', function(e) {
                if (e.target.checked && e.target === method) {
                    splititDisableSubmitBtn(btn);
                }
                else {
                    splititEnableSubmitBtn(btn);
                }
            });
        });

        // Show Splitit widget
        initializeSplitit();
    });
</script>
