<style>
    #splitit-container .spt-btn {
        /*display: none;*/
    }
</style>
<div id="splitit-container"></div>
<script>
    function initializeSplitit() {
        return window.Splitit.FlexForm.setup({
            // showOnReady: true,
            container: 'splitit-container',
            ipn: "{{ ipn }}",
            culture: "{{ consumer_data.CultureName }}",
            {% if number_of_installments > 0 %}
            numberOfInstallments: {{ number_of_installments }},
            {% endif %}
            billingAddress: {
                addressLine1: "{{ billing_address.AddressLine1 }}",
                addressLine2: "{{ billing_address.AddressLine2 }}",
                city: "{{ billing_address.City }}",
                state: "{{ billing_address.State }}",
                country: "{{ billing_address.Country }}",
                zip: "{{ billing_address.Zip }}"
            },
            consumerData: {
                fullName: "{{ consumer_data.FullName }}",
                email: "{{ consumer_data.Email }}",
                phoneNumber: "{{ consumer_data.PhoneNumber }}",
                cultureName: "{{ consumer_data.CultureName|lower }}",
            },
            onSuccess: function(result) {
                // Add data to form
                const form = CommercePayments.getForm(),
                    input = document.createElement("input");

                input.setAttribute("type", "hidden");
                input.setAttribute("name", "splitit_data");
                input.setAttribute("value", JSON.stringify(result));
                form.appendChild(input);

                // Submit after adding the data
                form.submit();
            }

        }).ready(e => {
            console.debug('Splitit form initialized.');
            console.debug(e);
        });
    }

    function splititEnableSubmitBtn(btn)
    {
        btn.disabled = false;
        btn.style.visibility = 'visible';
    }

    function splititDisableSubmitBtn(btn)
    {
        btn.disabled = true;
        btn.style.visibility = 'hidden';
    }

    // Wait until the page has finished loading
    CommercePayments.onReady(function() {
        const form = CommercePayments.getForm();
        const btn = document.querySelector('button[type=submit].c-primary-button');
        const method = form.querySelector('#payment-method-{{ method }}');
        const radios = form.querySelectorAll('input[type=radio].c-payment-method-radio');

        // Show Splitit widget
        const splitit = initializeSplitit(method);

        if (method.checked) {
            // Splitit widget has its own submit button that can't be disabled, so we disable and hide the commerce
            // submit button here if the Splitit method is selected.
            splitit.show();
            splititDisableSubmitBtn(btn);
        }

        radios.forEach(function(radio) {
            radio.addEventListener('change', function(e) {
                if (e.target.checked && e.target === method) {
                    splitit.show();
                    splititDisableSubmitBtn(btn);
                }
                else {
                    splitit.hide();
                    splititEnableSubmitBtn(btn);
                }
            });
        });

    });
</script>
